* { margin:0; padding:0; }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F4F4F;
    font-family: "Roboto";
  }
  
  .nav li {
    float: left;
    display: block;
    width: 33.3333%;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: .2s ease-in-out;
  }
  
  li a:hover {
    background-color: #111;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(65, 65, 65);
  }
  
  p {
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(32, 32, 32);
    font-size: 20px;
  }